<div class="header-container">
  <div class="title-container">
    <h2>{{ title }}</h2>
  </div>
  <div>
    <select name="Year" id="Year" class="year_dropdwon" [(ngModel)]="year" style="width: 150px; height: 40px;">
      <option *ngFor="let years of totalYears" [value]="years.value">{{ years.label }}</option>
    </select>

    <span style="margin-left: 10px;"></span>

    <select name="all" id="all" class="year_dropdwon" [(ngModel)]="users" style="width: 150px; height: 40px;">
      <option *ngFor="let user of totalUsers" [value]="user.value">{{ user.label }}</option>
    </select>

    <button class="btn btn-primary ml-2 mr-4" [disabled]="!searchButtonDisable()">Search</button>
  </div> 
</div>

<div *ngIf="dashboardData.length > 0">
  <div class="card-container">
    <div class="card" *ngFor="let card of dashboardData">
      <div class="card-body">
        <h5 class="card-title">{{ card.name }}</h5>
        <p class="card-text">{{ card.count }}</p>
      </div>
    </div>
  </div>
</div>
