<div class="header-container">
  <div class="title-container">
    <h2 [textContent]="title"></h2>
  </div>
  <div class="dropdowns-container">
    <!-- Dropdown 1 -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="yearDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        All Years
      </button>
      <div class="dropdown-menu" aria-labelledby="yearDropdown">
        <a class="dropdown-item" href="#" (click)="selectYear(null)">All Years</a>
        <a class="dropdown-item" href="#" *ngFor="let year of years" (click)="selectYear(year)">{{ year }}</a>
      </div>
    </div>

    <!-- Dropdown 2 -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown 2
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdown2">
        <!-- Dropdown 2 content -->
      </div>
    </div>
    <!-- Button -->
    <button class="btn btn-primary ml-2 mr-4">Search</button>
  </div>
</div>

<div *ngIf="dashboardData.length > 0">
  <div class="card-container">
    <div class="card" *ngFor="let card of dashboardData">
      <div class="card-body">
        <h5 class="card-title">{{ card.name }}</h5>
        <p class="card-text">{{ card.count }}</p>
      </div>
    </div>
  </div>
</div>
